{{> menu active="about"}}
<div class="content box">
  <p class="title">
    About Placemark
  </p>
  <p class="pb-4">
A “point of interest” (POI) is a location for
which information is available. A POI can be as
simple as a set of coordinates, a name, and a
unique identifier, or more complex such as a
three-dimensional model of a building with
names in multiple languages, information about
opening and closing hours, and a civic
address. POI data has many applications,
including augmented reality browsers, locationbased social networking games, geocaching,
mapping and navigation systems.”    <br>
    <br>

