<!-- favorites-view.hbs -->
<p class="title">
  <i class="fa-solid fa-heart" style="color: pink;"></i>
  Favorite Placemarks list
    <i class="fa-solid fa-heart" style="color: pink;"></i>

</p>

  {{#each placemarks}}
   
      {{this.title}}

   
  {{/each}}