{{> welcome-menu}}
<div class="content box">
  <h1 class="title pb-5">
    Welcome to Placemark
  </h1>
  <p class="pb-2">
A Point of Interest (POI) is a specific point location, or useful site, defined mainly by its geographical coordinates (longitude and latitude). It refers to a place or destination of potential interest.    <br>
    Please sign up and log in to create placemark.
  </p>
</div>