<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="navbar-brand">
        <div class="title is-flex">
          <i style="font-size: 60px;" class="fas fa-solid fa-location-dot has-text-info"></i>

          <div class="ml-4 has-text-bold has-text-info is-size-1">Placemark</div>
          <i style="font-size: 30px;" class="ml-4 mt-4  has-text-info"></i>
        </div>
      </div>
    </div>
  </div>
</section>
