{{>placemark-brand}}
<br>
<nav class="navbar is-transparent has-background-link	">
  <div class="navbar-menu is-hoverable">
    <div class="navbar-end">
      <a id="signup" class="button has text-white mx-2 is-outlined" href="/signup">Signup</a>
      <a id="login" class="button has text-white  mx-2 is-outlined" href="/login">Login</a>
    </div>
  </div>
</nav>
<script>
  document.getElementById("{{active}}").classList.add("is-focused");
</script>
<br>
